<header>
    <div class="wrapper">
        <h1>Upcoming Events</h1>
    </div>
</header>

<div class="book-button">
<%= link_to "Book now", new_visitor_path %>
</div>


<section class="event-gallery">
  <% @events.each do |event| %>
  <article class="event-card">
    <div class="event-image">
      <%= image_tag(event.image_url, size: "250x250") %>
    </div>
      <h4><%= link_to event.name, event_path(event.id) %></h4>

  </article>
  <% end %>

</section>
